body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4102ff;
    color: #000000;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header {
    background-color: #000000;
    padding: 20px;             
    border-bottom: 1px solid #ffffff; 
    margin-bottom: 20px;        
    text-align: center;
    border-radius: 5px;
    color:#ffffff
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}

nav ul li a:hover {
    background-color: #4102ff;
    color: black;
    border-radius: 5px;
}

nav button {
    padding: 8px 15px;          
    margin: 5px;                
    border: 1px solid #ffffff;     
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

section {
    background-color: #ffffff;
    max-width: 1000px;
    margin: 0 auto; 
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 10px; 
}

p {
    text-align: center;
    margin-bottom: 15px; 
}

article {
    border: 1px solid #ffffff;
    padding: 15px;     
    margin-top: 15px;  
    text-align: center;
    border-radius: 5px;
}

ul {
    list-style-position: inside;
    text-align: center;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-top: 1px solid #ffffff;
    border-radius: 5px;
    color:#ffffff
}
